*{
    box-sizing: border-box;
}
body{
   background-color: #000000;
   padding: 1px;
   /* width: 100%;
   height: 100%;
   padding: 0%;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   border: 3px solid white; */
}

.main-space{
    margin: 12px;
    padding: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    background-color: #191919;
    flex-direction: column;
}

/* .line-break {
    width: 100%;
  } */

.main-space-ele1{
display: flex;
justify-content: center;
}
.main-space-ele2{
display: flex;
justify-content: center;
}

@keyframes do-levitation {
    0% {
      transform: translate(0, 0);
    }
    45% {
        transform: rotate(3deg);
      }
    100% {
      transform: translate(0, 0.5em);
    }
  }

  .image-space{
    height: 300px;
  }

h2{
  color:white;
}
.info{
  width:150px;
  height: 30px;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
  flex-wrap: wrap;
  align-items: center;
  
  align-content: space-between;
}